body{
    padding-top: 56px;
}

td {
    font-size: 0.65rem;
    text-align: left;
}

i {
    color: black;
}

p {
    font-size: 0.75rem;
}

/* @media only screen and (max-width: 768px) {
    .google-maps {
        display: none;
    }
} */

/* .social {
    display: flex;
    justify-content: space-around;
} */

.d-block {
    display: flex!important;
}

.fp-tableCell {
    display: flex;
    align-items: center;
    padding-top: 66px;
}

.navbar-brand img {
    height: 40px;
}

.google-maps {
    position: relative;
    padding-bottom: 30vh; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    opacity: 1;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* Table styles */

.table thead th {
    border: none;
}

.below-title {
    border-top: none;
}

.card {
    opacity: 0.85;
    width: 100%;
}

.logo {
    height: 45vh;
}

.banner {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Styles for background images */

.main-img {
    background-image: url("../images/index_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

@media only screen and (max-width: 768px) {
    .main-img {
        background-image: url("../images/index_mobile.jpg");
    }

    .img-thumbnail {
        height: 10vh!important;;
    }
}

.about {
    background-image: url("../images/about_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.services {
    background-image: url("../images/services_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.massage {
    background-image: url("../images/massage_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.spa {
    background-image: url("../images/spa_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.hair-salon {
    background-image: url("../images/hair_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.nail-salon {
    background-image: url("../images/nail_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.makeup {
    background-image: url("../images/makeup2_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.waxing {
    background-image: url("../images/waxing_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.table-container {
    width: 100vh;
    display: flex;
    justify-content: center;
}

.gallery {
    background-image: url("../images/gallery_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.contact {
    background-image: url("../images/contact_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
    opacity: 0.7;
}

/**
Absolute in relation to the section
*/
#moveRight{
  top: 20px;
  left: 20px;
  position:absolute;
  z-index:999;
  font-size: 1em;
  cursor:pointer;
}

.cell-thumbnail{
    display: flex;
    justify-content: center;
}

.img-thumbnail {
    height: 20vh;
    padding: 0.1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
