body{
    padding-top: 56px;
}

td {
    font-size: 0.65rem;
    text-align: left;
}

i {
    color: black;
}

p {
    font-size: 0.75rem;
}

.d-block {
    display: flex!important;
}

.fp-tableCell {
    display: flex;
    align-items: center;
    padding-top: 66px;
}

.navbar-brand img {
    height: 40px;
}

.google-maps {
    position: relative;
    padding-bottom: 30vh; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    opacity: 1;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* Table styles */

.table thead th {
    border: none;
}

.below-title {
    border-top: none;
}

.card {
    opacity: 0.75;
    width: 100%;
}

.high-opacity {
    opacity: 0.90;
    width: 100%;
}

.logo {
    height: 45vh;
}

.banner {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Styles for background images */

.index {
    background-image: url("../images/index_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.about {
    background-image: url("../images/about_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.services {
    background-image: url("../images/services_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.massage {
    background-image: url("../images/massage_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.spa {
    background-image: url("../images/spa_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.hair-salon {
    background-image: url("../images/hair_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.nail-salon {
    background-image: url("../images/nail_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.makeup {
    background-image: url("../images/makeup2_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.waxing {
    background-image: url("../images/waxing_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.table-container {
    width: 100vh;
    display: flex;
    justify-content: center;
}

.gallery {
    background-image: url("../images/gallery_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.contact {
    background-image: url("../images/contact_16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
    opacity: 0.7;
}

/*  Media queries */

@media only screen and (max-width: 768px) {
    /*  Different image for mobile */
    .index {
        background-image: url("../images/index_mobile.jpg");
    }

    /*  Scale thumbnails in mobile view */
    .img-thumbnail {
        height: 10vh!important;
    }

    .services-full {
        display: none!important;
    }
}
/*  Gallery styles */

.cell-thumbnail{
    display: flex;
    justify-content: center;
}

.img-thumbnail {
    height: 20vh;
    padding: 0.1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
